name: Run pre-commit

on: [ pull_request ]

# Declare default permissions as read only.
permissions: read-all

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: pre-commit
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: 3.x

      - name: Remove rh-pre-commit hook (requires VPN)
        uses: mikefarah/yq@7ccaf8e700ce99eb3f0f6cef7f5930a0b3c827cd # v4.49.2
        with:
          cmd: yq -i 'del( .repos[] | select(.rev == "rh-pre-commit-*"))' .pre-commit-config.yaml

      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

      - name: Check if there are changes
        id: changes
        run: |
          git checkout HEAD -- .pre-commit-config.yaml
          echo "changed=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT

      - name: Fail if changes found
        if: steps.changes.outputs.changed >= 1
        run: |
          echo "Uncommitted changes exist. Failing."
          echo
          git status --porcelain
          exit 1
